:root {
  --clr-primary--500: #9adea2;
  --clr-primary--900: #c2f69b;
  --clr-neutral--100: #fafafa;
  --clr-neutral--300: #696969;
  --clr-neutral-900: #333;
  --clr-accent--300: #80c0ce;
  --clr-accent--500: #467292;
  --ff-primary: sans-serif;
  --ff-accent: cursive;
  --br: 2.4em;
  --br-elements: 0.8em;
}



/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

/* ----- Body ----- */
body {
  font-family: var(--ff-primary);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--clr-neutral--100);
  color: var(--clr-neutral--900);
}

.header {
  width: 100%;
}