<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="hackathon project on the topic the future of workforce well-being" />
  <meta name="keywords" content="hackathon, workforce well-being, soda" />
  <meta name="author" content="Theo, Anna, Aws Sabah Gheni, Kera Cudmore, Iuliia Konovalova" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
type="text/css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <title>EMPOWERED</title>
</head>

<body>
  <header class="header">
    <nav class="navbar" id="navbar">
      <div class="logo__container--top">
        <h1>Logo</h1>
      </div>

      <!-- Navbar items -->
      <ul class="navbar__components">
        <li class="navbar__item"><a href="#">Home</a> </li>
        <li class="navbar__item"><a href="#">Profile</a></li>
        <li class="navbar__item dropdown" id="dropdown">
          Login / Register
          <ul class="nav__options">
            <li class=" btn btn__login"><a href="#">Login</a></li>
            <li class=" btn btn__register"><a href="#">Register</a></li>
          </ul>
        </li>
      </ul>
      <!-- Navbar hamburger for mobile screens -->
      <div class="hamburger__container" id="hamburger">
        <img src="{{ url_for('static', filename='images/icon-hamburger.svg') }}" alt="Hamburger Image">
      </div>
      <!-- Navbar for mobile screens -->
      <ul class="navbar__components--mobile" id="mobile-menu">
        <li class="navbar__item"><a href="#">Home</a> </li>
        <li class="navbar__item"><a href="#">Profile</a> </li>
        <li class="navbar__item btn btn__login"><a href="#">Login</a></li>
        <li class="navbar__item btn btn__Register"><a href="#">Register</a></li>
      </ul>

    </nav>
  </header>
  <main class="main">
    <div class="content__container">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <footer class="footer">
    <div class="footer__team">
      <div class="team__name">TEAM NAME</div>
      <ul class="team__collaborators">
        <li class="contact__github">
          <a href="https://github.com/AwsSG" target="_blank" rel="noopener"
            aria-label="Visit Aws Sabah Gheni github page">
            <div class="image_holder">
              <img src="{{ url_for('static', filename='images/') }}" alt="Aws Sabah Gheni photo" class="photo">
            </div>
            <div class="coder_name">Aws Sabah Gheni</div>
          </a>
        </li>

        <li class="contact__github">
          <a href="https://github.com/theopmw" target="_blank" rel="noopener"
            aria-label="Visit Theo Wright github page">
            <div class="image_holder">
              <img src="{{ url_for('static', filename='images/') }}" alt="Theo Wright photo" class="photo">
            </div>
            <div class="coder_name">Theo Wright</div>
          </a>
        </li>
        <li class="contact__github">
          <a href="https://github.com/IuliiaKonovalova" target="_blank" rel="noopener"
            aria-label="Visit Iuliia Konovalova github page">
            <div class="image_holder">
              <img src="assets/images/coders/iuliia_konovalova.JPG" alt="Iuliia Konovalova photo" class="photo">
            </div>
            <div class="coder_name">Iuliia Konovalova</div>
          </a>
        </li>

        <li class="contact__github">
          <a href="https://github.com/kera-cudmore" target="_blank" rel="noopener"
            aria-label="Visit Kera Cudmore github page">
            <div class="image_holder">
              <img src="{{ url_for('static', filename='images/') }}" alt="Kera Cudmore photo" class="photo">
            </div>
            <div class="coder_name">Kera Cudmore</div>
          </a>
        </li>
        <li class="contact__github">
          <a href="https://github.com/ANNAhabANNA" target="_blank" rel="noopener" aria-label="Visit Anna github page">
            <div class="image_holder">
              <img src="{{ url_for('static', filename='images/') }}" alt="Anna photo" class="photo">
            </div>
            <div class="coder_name">Anna</div>
          </a>
        </li>
      </ul>
    </div>
  </footer>

  <!--Jquery script-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>