{% extends "base.html" %}
{% block content %}

<form method="POST" action="{{ url_for('register') }}">
    <!-- Username -->
    <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
        class="validate" required>
    <label for="username">Username</label>
    <!-- password -->

    <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
        class="validate" required>
    <label for="password">Password</label>
    <!-- register -->
    <button type="submit">
        Register
    </button>
</form>

<p>
    Already registered? Log In
    <a href="{{ url_for('login') }}">here!</a>
</p>

{% endblock %}